.container{
    background-color: slategray;
    border-radius: 50px;
    padding: 25px 50px;
    width: 80vw;
}

.result{
    background-color: peru;

}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

.options{
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(107, 97, 97);
    border-radius: 15px;  
}

.options:hover {
    background-color: rgb(175, 100, 100);
}

.options:active{
    background-color: rgb(175, 100, 100);
    transform: translateY(5px);
}